// Filtered Books

.filtered-books {
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 45%);
    grid-gap: 1.25rem;

    .book-thumbnail {
      height: auto;
      width: 100%;
      margin: 0;
    }

    .book-thumbnail__image {
      display: flex;
    }

    .book-thumbnail__content {
      padding: 1.25rem;
    }

    @media (min-width: $breakpoint-mobile) {
      grid-template-columns: repeat(auto-fill, 40%);
    }

    @media (min-width: $breakpoint-tablet) {
      grid-template-columns: repeat(auto-fill, 30%);
    }
  }
}
