// Globals
$font-family: Ubuntu, -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Roboto, Noto,
  Segoe UI, Arial, sans-serif;

// Colors
$black: #000;
$green: #65c100;
$grey: #aaa;
$grey-dark: #333;
$grey-light: #ddd;
$grey-lighter: #eee;
$grey-mid: #979797;
$red: #d0011b;
$white: #fff;

// Media Breakpoints
$breakpoint-desktop: 1120px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 475px;
